@import 'https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700';


html{
  overflow: auto;
}

body{ 
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 2s; 
  animation-fill-mode: forwards; 
} 


@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 



body{
  background-image: url("https://i.imgur.com/1OyZOFJ.jpg");
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  padding: 80px; 
  padding-left: 480px;
}

#my_title {
  border-right: 3px rgba(0,255,0,.75);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'comfortaa', sans-serif;
  font-size: 22px;
  color: black;
  margin: 0 auto;
  padding-top: 35px;
}

#location {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'comfortaa', sans-serif;
  font-size: 12px;
  color: black;
  line-height: 2;
}


#location:hover{
  font-size: 15px;
  color: #3c4d4b;
}



p{
    font-weight: normal;
	  font-size: 22px;

}

#container {
	text-align: left;
	
}

#text {
  display: inline-block;
  font-size: 15px;
    vertical-align: middle;
    font-family: 'comfortaa', sans-serif;
    font-weight: bold;
	color: black;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color:black;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color:black; 
	}
}


a.button{
    background-color: black;
    transition-duration: 0.4s;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 2px;
    cursor: pointer;

}

a.button:hover {
    background-color:#f3dfb2; /* Green */
    color: black;
  }

  nav ul {
    position: fixed;
    text-align: left;
    top: 0px;
    width: 100%;
    background-color:transparent;
    font-family: "comfortaa",sans-serif; 
    font-size: 15px; 
    padding-left: 300px;

  }
  
  nav ul li {
    display: inline-block;
    margin: 30px; 
  }
  
  nav ul li a {
    color: #363134;
    text-decoration: none;  
  }
  nav ul li a:hover {
    color: #ce8888;
  }

a{
  text-decoration: none;
  color: rgb(228, 61, 61)
}

#bore, #showbore, #showbore2{
  font-family: 'comfortaa', sans-serif;
  font-size:15px;
  line-height: 2;
}

#showbore, #showbore2{
  color:rgb(238, 68, 68);

}



#bore, #location, #location, #my_title{ 
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 2s; 
  animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 


#bore p{
  font-size:16px;
}

#bore h4{
  line-height: 2;
}


@media screen and (max-width: 850px) {


  body{ 
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 2s; 
    animation-fill-mode: forwards; 
  } 
  
  
  @keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
  }  



  body { 
    background: linear-gradient(-55deg, #fce1f7, #b4ddf0, #8cd4ee, #abfae7) !important;
    background-size: 400% 400%;
  }

  body{
    background-size: 400% 400%;
    text-align:center ;
    padding-top:50px !important;
  }



  *{
    margin: 0px !important;
    padding: 0px !important;
  }


  #my_title{
    text-align:center ;
    padding-top:30px !important;
  }
  h1{
    font-size:15px;
    padding-bottom:15px !important;

  }

  #mobile{
    font-size:8px !important;
    line-height: 2 !important;
  }

  #desktop{
    display: none
  }

  #location p{
    font-size:12px !important;
    padding-top:15px !important;
    padding-bottom:15px !important;

  }
  #text, #cursor, #container{
    text-align: center !important;
  }


  #bore, #showbore, #showbore2{
    font-family: 'comfortaa', sans-serif;
    font-size:12px;
  }

  #showbore{
    padding-top:60px !important;
  }
  #bore h1{
    font-size:12px !important;
  }
  #bore h4, p{
    font-size:10px !important;
  }
  #bore h4{
    line-height:2 !important;
  }
  #bore li{
    font-size:10px !important;
    line-height: 2.5 !important;
  }
  #showbore2{
    padding-bottom:15px !important;
  }

  a.button{
    background-color: black;
    transition-duration: 0.4s;
    border: none;
    border-radius: none !important;
    color: white;
    padding: 10px 30px !important;
    margin-top:80px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 2px;
    cursor: pointer;

  }

  a.button:hover {
    background-color:#f3dfb2; /* Green */
    color: black;
  }

  nav ul {
    position: fixed;
    text-align: right;
    top: 0px;
    width: 100%;
    background-color:#014871;
    font-family: "comfortaa",sans-serif; 
    font-size: 8px; 
    padding-top:10px !important;
    padding-bottom:10px !important;
    padding-left:50px !important;

  }
  
  nav ul li {
    display: inline-block;
    margin-right:20px !important; 
    margin-left:20px !important; 

  }
  
  nav ul li a {
    color: white;
    text-decoration: none;  
  }
  nav ul li a:hover {
    color: #ce8888;
  }

  #hireme, #time, #home{
    display:none;

  }





}


@media screen and (min-width: 850px) {
  #mobile{
    display:none;
  }

}










